<main class="text-center" id="main">
	<div
		class="d-flex flex-column min-vh-100 justify-content-center align-items-center"
	>
		<body class="text-center">
			<form class="form-post">
				<h1 class="h3 mb-3 font-weight-normal text-light">
					Post Something
				</h1>
				<input
					type="text"
					name="username"
					id="username"
					placeholder="Username"
					class="h3 form-control"
				/>

				<input
					type="text"
					id="postText"
					name="post"
					placeholder="Post Content"
					class="h3 form-control"
				/>
				<input
					type="submit"
					class="btn btn-lg btn-primary btn-block"
					value="Post"
				/>

			</form>
		</body>
	</div>
	<script src="/js/post.js"></script>
</main>