<main class="text-center" id="main">
	<div
		class="d-flex flex-column min-vh-100 justify-content-center align-items-center"
	>
		<body class="text-center">
			<form class="signup-form">
				<h1 class="h3 mb-3 font-weight-normal text-light">
					Create an Account
				</h1>
				<input
					type="email"
					id="inputEmail"
					class="h3 form-control"
					placeholder="Email address"
					autofocus=""
				/>
				<input
					type="username"
					id="username"
					class="h3 form-control"
					placeholder="Username"
				/>
				<input
					type="password"
					id="inputPassword1"
					class="h3 form-control"
					placeholder="Password"
				/>
				<input
					type="password"
					id="inputPassword2"
					class="h3 form-control"
					placeholder="Verify Password"
				/>
				<button
					class="btn btn-lg btn-primary btn-block"
					type="submit"
					id="start-button"
				>
					Create
				</button>
			</form>
		</body>
	</div>
	<script src="/js/create.js"> </script>
</main>